{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
 <h1>Welcome</h1>
 <ul>
 {% for f in features %}
 <li>{{ f }}</li>
 {% endfor %}
 </ul>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, sit cum facilis sed, eaque, sequi natus saepe neque asperiores laborum numquam dignissimos! Ad tempore illum, tenetur nihil perspiciatis accusantium nam.</p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus repellat in cumque ipsum aliquam consequatur, quis nostrum delectus mollitia nesciunt voluptate eveniet a laudantium maiores quaerat quos sapiente cum? Alias!</p>
{% endblock %}
